In [1]:
import pandas as pd

In [2]:
import json

In [3]:
from pandas.io.json import json_normalize

In [4]:
json_df = pd.read_json('/Users/zhengzhang/Downloads/data_wrangling_json 2/data/world_bank_projects.json')
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [5]:
#Question 1: Top 10 countries with most projects
json_df['countryshortname'].value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Morocco               12
Bangladesh            12
Nepal                 12
Mozambique            11
Africa                11
Name: countryshortname, dtype: int64

In [7]:
data=json.load((open('/Users/zhengzhang/Downloads/data_wrangling_json 2/data/world_bank_projects.json')))

In [8]:
temp=json_normalize(data, 'mjtheme_namecode','project_name')
print(temp) 
#total 1499 themes, some are duplicate, some themes have code, but not name.

     code                                      name  \
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

                                           project_name
0     Ethiopia General Education Quality Improvement...
1     Ethiopia General Education Quality Improvement...
2             TN: DTF Social Protection Reforms Support
3             TN: DTF Social Protection Reforms Support
4     Tuvalu Aviation Investment Project - Additiona...
...                                                 ...
1494  Sustainable Management of Agricultural Researc...
1495  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1496  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1497  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1498  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

[1499 rows x 3 columns]

In [10]:
# Delete duplicate themes from each project
temp2=temp.drop_duplicates(subset =['code','project_name'], keep = 'first', inplace = False)

In [11]:
print(temp2) 
#Only 1070 themes remain on 500 projects, missing names still present

     code                                      name  \
0       8                         Human development
1      11
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
...   ...                                       ...
1492   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

                                           project_name
0     Ethiopia General Education Quality Improvement...
1     Ethiopia General Education Quality Improvement...
2             TN: DTF Social Protection Reforms Support
3             TN: DTF Social Protection Reforms Support
4     Tuvalu Aviation Investment Project - Additiona...
...                                                 ...
1492  Sustainable Management of Agricultural Researc...
1495  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1496  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1497  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1498  KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

[1070 rows x 3 columns]

In [12]:
#Question 2: Top 10 major project themes, some themes missing names
top10theme_w_missing=temp2['name'].value_counts().head(10)
print(top10theme_w_missing)

Environment and natural resources management    135
Rural development                               135
Public sector governance                        126
Human development                               118
Social protection and risk management           110
                                                107
Financial and private sector development        104
Social dev/gender/inclusion                     103
Trade and integration                            56
Urban development                                37
Name: name, dtype: int64

In [30]:
# Getting code table matching code with proper names
y=temp2[temp2['name']!='']
z=y.drop_duplicates(subset ="code", 
                     keep = 'first', inplace = False) 
w=z.sort_values(by=['code'])

print(w[['code','name']])

    code                                          name
2      1                           Economic management
18    10                             Rural development
6     11  Environment and natural resources management
5      2                      Public sector governance
252    3                                   Rule of law
11     4      Financial and private sector development
4      5                         Trade and integration
3      6         Social protection and risk management
8      7                   Social dev/gender/inclusion
0      8                             Human development
53     9                             Urban development

In [25]:
# merge the code table with the theme table
temp3=pd.merge(temp2,w, on="code")
#print(temp3)

In [16]:
#Question 3: Top 10 themes after the missing name is filled in
top10theme_no_missing=temp3['name_y'].value_counts().head(10)
print(top10theme_no_missing)

Environment and natural resources management    157
Rural development                               148
Public sector governance                        140
Human development                               128
Financial and private sector development        119
Social protection and risk management           116
Social dev/gender/inclusion                     114
Trade and integration                            61
Urban development                                40
Economic management                              33
Name: name_y, dtype: int64