In [2]:
import pandas as pd

In [3]:
import json

In [ ]:
import mat as plt

In [12]:
json_df = pd.read_json('/Users/zhengzhang/Downloads/data_wrangling_json 2/data/world_bank_projects.json')

In [13]:
json_df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [15]:
json_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 50 columns):
sector                      500 non-null object
supplementprojectflg        498 non-null object
projectfinancialtype        500 non-null object
prodline                    500 non-null object
mjtheme                     491 non-null object
idacommamt                  500 non-null int64
impagency                   472 non-null object
project_name                500 non-null object
mjthemecode                 500 non-null object
closingdate                 370 non-null object
totalcommamt                500 non-null int64
id                          500 non-null object
mjsector_namecode           500 non-null object
docty                       446 non-null object
sector1                     500 non-null object
lendinginstr                495 non-null object
countrycode                 500 non-null object
sector2                     380 non-null object
totalamt                    500 non-null int64
mjtheme_namecode            500 non-null object
boardapprovaldate           500 non-null object
countryshortname            500 non-null object
sector4                     174 non-null object
prodlinetext                500 non-null object
productlinetype             500 non-null object
regionname                  500 non-null object
status                      500 non-null object
country_namecode            500 non-null object
envassesmentcategorycode    430 non-null object
project_abstract            362 non-null object
approvalfy                  500 non-null int64
projectdocs                 446 non-null object
lendprojectcost             500 non-null int64
lendinginstrtype            495 non-null object
theme1                      500 non-null object
grantamt                    500 non-null int64
themecode                   491 non-null object
borrower                    485 non-null object
sectorcode                  500 non-null object
sector3                     265 non-null object
majorsector_percent         500 non-null object
board_approval_month        500 non-null object
theme_namecode              491 non-null object
countryname                 500 non-null object
url                         500 non-null object
source                      500 non-null object
projectstatusdisplay        500 non-null object
ibrdcommamt                 500 non-null int64
sector_namecode             500 non-null object
_id                         500 non-null object
dtypes: int64(7), object(43)
memory usage: 195.4+ KB

In [16]:
json_df['countryshortname'].value_counts().head(10)

Indonesia             19
China                 19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Nepal                 12
Morocco               12
Africa                11
Mozambique            11
Name: countryshortname, dtype: int64

In [17]:
json_df['mjtheme_namecode'].value_counts().head(10)

[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': 'Environment and natural resources management'}]                                                                                12
[{'code': '8', 'name': 'Human development'}, {'code': '11', 'name': ''}]                                                                                                                                                        11
[{'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}]                                                                                                                                         8
[{'code': '4', 'name': 'Financial and private sector development'}, {'code': '4', 'name': 'Financial and private sector development'}]                                                                                           6
[{'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}, {'code': '2', 'name': 'Public sector governance'}]                                                                        6
[{'code': '8', 'name': 'Human development'}, {'code': '7', 'name': 'Social dev/gender/inclusion'}]                                                                                                                               5
[{'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}, {'code': '8', 'name': 'Human development'}]     5
[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '11', 'name': ''}]                                                                                                                             5
[{'code': '11', 'name': 'Environment and natural resources management'}, {'code': '4', 'name': ''}]                                                                                                                              5
[{'code': '4', 'name': 'Financial and private sector development'}, {'code': '5', 'name': 'Trade and integration'}]                                                                                                              5
Name: mjtheme_namecode, dtype: int64

In [18]:
df=json_df['mjtheme_namecode']

In [19]:
print(df.head())

0    [{'code': '8', 'name': 'Human development'}, {...
1    [{'code': '1', 'name': 'Economic management'},...
2    [{'code': '5', 'name': 'Trade and integration'...
3    [{'code': '7', 'name': 'Social dev/gender/incl...
4    [{'code': '5', 'name': 'Trade and integration'...
Name: mjtheme_namecode, dtype: object

In [20]:
values=[]
for key, value in df.items(): values += value

In [21]:
x=pd.DataFrame(values)

In [26]:
y=x[x['name']!='']
print(y)

     code                                      name
0       8                         Human development
2       1                       Economic management
3       6     Social protection and risk management
4       5                     Trade and integration
5       2                  Public sector governance
...   ...                                       ...
1494   10                         Rural development
1495    9                         Urban development
1496    8                         Human development
1497    5                     Trade and integration
1498    4  Financial and private sector development

[1377 rows x 2 columns]

In [28]:
y['n_code']=pd.to_numeric(y['code'])
z=y.sort_values(by=['n_code'])

print(z)

     code                                          name  n_code
1010    1                           Economic management       1
803     1                           Economic management       1
1056    1                           Economic management       1
1212    1                           Economic management       1
1235    1                           Economic management       1
...   ...                                           ...     ...
511    11  Environment and natural resources management      11
1170   11  Environment and natural resources management      11
1167   11  Environment and natural resources management      11
503    11  Environment and natural resources management      11
1179   11  Environment and natural resources management      11

[1377 rows x 3 columns]

/Users/zhengzhang/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [29]:
# dropping ALL duplicte values 

w=z.drop_duplicates(subset ="n_code", 
                     keep = 'first', inplace = False)

In [30]:
print(w)

     code                                          name  n_code
1010    1                           Economic management       1
518     2                      Public sector governance       2
359     3                                   Rule of law       3
417     4      Financial and private sector development       4
487     5                         Trade and integration       5
26      6         Social protection and risk management       6
754     7                   Social dev/gender/inclusion       7
1272    8                             Human development       8
1103    9                             Urban development       9
142    10                             Rural development      10
6      11  Environment and natural resources management      11

In [34]:
temp=json_df['mjtheme_namecode'].value_counts().head(10)

In [35]:
print(type(temp))

<class 'pandas.core.series.Series'>

In [36]:
namecode=pd.DataFrame(temp)
print(namecode)

                                                    mjtheme_namecode
[{'code': '11', 'name': 'Environment and natura...                12
[{'code': '8', 'name': 'Human development'}, {'...                11
[{'code': '8', 'name': 'Human development'}, {'...                 8
[{'code': '4', 'name': 'Financial and private s...                 6
[{'code': '2', 'name': 'Public sector governanc...                 6
[{'code': '8', 'name': 'Human development'}, {'...                 5
[{'code': '8', 'name': 'Human development'}, {'...                 5
[{'code': '11', 'name': 'Environment and natura...                 5
[{'code': '11', 'name': 'Environment and natura...                 5
[{'code': '4', 'name': 'Financial and private s...                 5

In [38]:
type(namecode.index)

pandas.core.indexes.base.Index

In [39]:
w.name

1010                             Economic management
518                         Public sector governance
359                                      Rule of law
417         Financial and private sector development
487                            Trade and integration
26             Social protection and risk management
754                      Social dev/gender/inclusion
1272                               Human development
1103                               Urban development
142                                Rural development
6       Environment and natural resources management
Name: name, dtype: object

In [40]:
len(w.name)

11

In [43]:
w

     code                                          name  n_code
1010    1                           Economic management       1
518     2                      Public sector governance       2
359     3                                   Rule of law       3
417     4      Financial and private sector development       4
487     5                         Trade and integration       5
26      6         Social protection and risk management       6
754     7                   Social dev/gender/inclusion       7
1272    8                             Human development       8
1103    9                             Urban development       9
142    10                             Rural development      10
6      11  Environment and natural resources management      11

In [44]:
type(w)

pandas.core.frame.DataFrame

In [45]:
new_w=[w['code'],w['name']]

In [46]:
type(new_w)

list

In [49]:
new_w[1]

1010                             Economic management
518                         Public sector governance
359                                      Rule of law
417         Financial and private sector development
487                            Trade and integration
26             Social protection and risk management
754                      Social dev/gender/inclusion
1272                               Human development
1103                               Urban development
142                                Rural development
6       Environment and natural resources management
Name: name, dtype: object

In [50]:
new_w[0]

1010     1
518      2
359      3
417      4
487      5
26       6
754      7
1272     8
1103     9
142     10
6       11
Name: code, dtype: object

In [55]:
pd.DataFrame(df[1],columns=['code','name'])

  code                                   name
0    1                    Economic management
1    6  Social protection and risk management

In [53]:
df

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
                             ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object